.btn-primary {
    background-color: aqua;
    color: black;
}
 .imageofI {
    height: 100px;
    width: 100px;
 }
 .nav-item {
     font-weight: bold;
     color: black;
 }
  #portfolio-text {
      color: black;
  }